body {
  font-family: "Arial", sans-serif;
  font-family: "Helvetica", "Arial", sans-serif;
  background-color: #010103;
  background-image: linear-gradient(to right, #0a0a17, #010103);
  width: 100%;
  margin: 0;
  color: #ababac;
  display: flex;
  justify-content: center;
}
main {
  width: 45%;
}
@media screen and (max-width: 1200px) {
  main {
    width: 60%;
  }
}
@media screen and (max-width: 900px) {
  main {
    width: 70%;
  }
}
@media screen and (max-width: 600px) {
  main {
    width: 80%;
  }
}

#title {
  text-align: center;
}
#img-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#title,
#img-caption,
#tribute-info {
  width: 100%;
  animation: fadeIn ease 20s;
}
#image {
  display: block;
  max-width: 100%;
  animation: fadeIn ease 10s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#tribute-link {
  animation: cubic-bezier(0.95, 0.05, 0.795, 0.035) 25s;
  display: block;
  color: #f5ae60;
  text-align: center;
  margin-bottom: 20px;
  text-decoration: none;
}
